.section {
	padding-top: 35px;
	padding-bottom: 40px;

	@media (min-width: 768px) {
		padding-top: 50px;
		padding-bottom: 60px;
	}

	@media (min-width: 1200px) {
		padding-top: 82px;
		padding-bottom: 90px;
	}

	&--bottom-line {
		border-bottom: 1px solid #E9EFF3;
	}

		@media (min-width: 1500px) {
			&--bg-laptop {
				background-image: url("../img/bg/laptop.png");
				background-repeat: no-repeat;
				background-position: right 70%;
			}
		}
}